/* ===== БУРГЕР-МЕНЮ ===== */

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger__line {
  width: 25px;
  height: 3px;
  background: var(--color-text);
}

/* Tablet (768px – 1023px) — бургер, скрываем навигацию */
@media (max-width: 1023px) {
  .nav,
  .header__button {
    display: none;
  }
  .burger {
    display: flex;
  }
}
