<article class="card">
  <div class="card__media">
    <img
      src="images/article-small-1.png"
      alt="Как управлять эмоциями"
      class="card__image"
    />
    <div class="card__badge card__badge--small">
      <img
        src="images/icon-unicorn.svg"
        alt=""
        class="card__badge-icon"
        width="20"
        height="20"
      />
      <span class="card__badge-text">Self</span>
    </div>
  </div>
  <div class="card__content">
    <h2 class="card__title">Как управлять своими эмоциями: 8 шагов</h2>
    <div class="card__meta">
      <span class="card__author">Автор: Екатерина Бельтюкова</span>
    </div>
    <p class="card__description">
      Клиенты часто спрашивают, как КОНТРОЛИРОВАТЬ свои негативные эмоции.
      Пришло время об этом написать!
    </p>
    <time class="card__date" datetime="2021-08-07">07.08.2021</time>
    <a href="article.html" class="card__link">Читать далее →</a>
  </div>
</article>
