<article class="card">
  <div class="card__media">
    <img
      src="images/article-small-1.jpg"
      alt="Как не утонуть в тревоге"
      class="card__image"
    />
    <div class="card__badge card__badge--large">
      <img
        src="images/icon-unicorn.svg"
        alt=""
        class="card__badge-icon"
        width="20"
        height="20"
      />
      <span class="card__badge-text">Самооценка и самопринятие</span>
    </div>
    <div class="card__badge card__badge--medium">
      <img
        src="images/icon-unicorn.svg"
        alt=""
        class="card__badge-icon"
        width="20"
        height="20"
      />
      <span class="card__badge-text">Психология питания</span>
    </div>
  </div>
  <div class="card__content">
    <h2 class="card__title">
      Как не утонуть в тревоге и управлять своими страхами
    </h2>
    <div class="card__meta">
      <span class="card__author">Автор: Екатерина Бельтюкова</span>
    </div>
    <p class="card__description">
      Один из самых важных навыков, которые может дать работа с психотерапевтом
      - умение в разных ситуациях по-разному обходиться ...
    </p>
    <time class="card__date" datetime="2021-08-11">11.08.2021</time>
    <a href="article.html" class="card__link">Читать далее →</a>
  </div>
</article>
