<article class="card card--large">
  <div class="card__media">
    <img
      src="images/article-large-1.png"
      alt="Эмоциональное выгорание"
      class="card__image"
    />
    <div class="card__badge card__badge--large">
      <img
        src="images/icon-unicorn.svg"
        alt=""
        class="card__badge-icon"
        width="20"
        height="20"
      />
      <span class="card__badge-text">Самооценка и самопринятие</span>
    </div>
    <div class="card__badge card__badge--small">
      <img
        src="images/icon-unicorn.svg"
        alt=""
        class="card__badge-icon"
        width="20"
        height="20"
      />
      <span class="card__badge-text">Self</span>
    </div>
  </div>
  <div class="card__content">
    <h2 class="card__title">
      Эмоциональное выгорание – стадии и симптомы, методы восстановления и
      профилактики
    </h2>
    <div class="card__meta">
      <span class="card__author">Автор: Лиза Файнтух</span>
    </div>
    <p class="card__description">
      Изначально термин «эмоциональное профессиональной сфере и относился...
    </p>
    <time class="card__date" datetime="2021-08-21">21.08.2021</time>
    <a href="article.html" class="card__link">Читать далее →</a>
  </div>
</article>
