<div class="filters">
  <button class="filter">
    <span class="filter__icon">😊</span>
    <span class="filter__text">Все</span>
  </button>
  <button class="filter">
    <span class="filter__text">Самооценка и самопринятие</span>
  </button>
  <button class="filter filter--featured">
    <span class="filter__icon">🦄</span>
    <span class="filter__text">Self</span>
  </button>
  <button class="filter">
    <span class="filter__text">Чувства и эмоции</span>
  </button>
  <button class="filter">
    <span class="filter__text">Тревога</span>
  </button>
  <button class="filter">
    <span class="filter__text">Упражнения</span>
  </button>
  <button class="filter">
    <span class="filter__text">Психология питания</span>
  </button>
  <button class="filter">
    <span class="filter__text">Насилие</span>
  </button>
  <button class="filter">
    <span class="filter__text">Личное здоровье</span>
  </button>
</div>
