<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__col footer__col--nav">
        <ul class="footer__list">
          <li><a href="#" class="footer__link">О нас</a></li>
          <li><a href="#" class="footer__link">Тарифы</a></li>
          <li><a href="#" class="footer__link">Для бизнеса</a></li>
          <li><a href="#" class="footer__link">Психологам</a></li>
          <li><a href="#" class="footer__link">FAQ</a></li>
        </ul>
      </div>

      <div class="footer__col footer__col--nav">
        <ul class="footer__list">
          <li><a href="#" class="footer__link">Блог</a></li>
          <li><a href="#" class="footer__link">Вебинары</a></li>
          <li><a href="#" class="footer__link">Подкаст</a></li>
          <li><a href="#" class="footer__link">Сертификат</a></li>
          <li><a href="#" class="footer__link">Контакты</a></li>
        </ul>
      </div>

      <div class="footer__col footer__col--subscribe">
        <div class="subscribe">
          <h3 class="subscribe__title">
            Одно письмо в неделю со свежими новостями и акциями
          </h3>
          <form class="subscribe__form">
            <input
              type="email"
              class="subscribe__input"
              placeholder="Ваш e-mail"
            />
            <button
              type="submit"
              class="subscribe__button"
              aria-label="Подписаться"
            >
              <img
                src="images/icon-send.svg"
                alt="Отправить"
                width="24"
                height="24"
              />
            </button>
          </form>
          <p class="subscribe__agreement">
            Подписываясь, я соглашаюсь на обработку персональных данных в
            соответствии с ФЗ РФ № 152-ФЗ «О персональных данных», а также с
            Политикой конфиденциальности.
          </p>
        </div>
      </div>

      <div class="footer__col footer__col--brand">
        <div class="footer__brand">
          <img
            src="images/logo-footer.svg"
            alt="YOU TALK"
            class="footer__logo"
          />
          <span class="footer__badge">Участник</span>
        </div>
        <div class="socials">
          <a href="#" class="socials__link" aria-label="ВКонтакте">
            <img src="images/icon-vk.svg" alt="VK" width="32" height="32" />
          </a>
          <a href="#" class="socials__link" aria-label="Telegram">
            <img
              src="images/icon-telegram.svg"
              alt="Telegram"
              width="32"
              height="32"
            />
          </a>
          <a href="#" class="socials__link" aria-label="Instagram">
            <img
              src="images/icon-instagram.svg"
              alt="Instagram"
              width="32"
              height="32"
            />
          </a>
          <a href="#" class="socials__link" aria-label="Дзен">
            <img src="images/icon-zen.svg" alt="Дзен" width="32" height="32" />
          </a>
        </div>
      </div>
    </div>

    <div class="footer__separator"></div>

    <div class="footer__bottom">
      <span class="footer__copyright">© YOU TALK, 2018–2022</span>
      <a href="#" class="footer__legal">Юридические документы</a>
      <span class="footer__payment">Способы оплаты</span>
    </div>
  </div>
</footer>
