<header class="header">
  <div class="container header__container">
    <!-- Логотип -->
    <a href="/" class="logo">
      <img src="images/logo.svg" alt="YOU TALK" width="51" height="36" />
    </a>

    <!-- Навигация -->
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Тарифы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Для бизнеса</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Психологам</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Сертификат</a></li>
        <li class="nav__item nav__item--dropdown">
          <a href="#" class="nav__link">Материалы</a>
          <span class="nav__arrow"></span>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
      </ul>
    </nav>

    <!-- Кнопка -->
    <button class="button button--secondary header__button">
      Подобрать психолога
    </button>

    <!-- Бургер -->
    <button class="burger" aria-label="Открыть меню" aria-expanded="false">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>

  <!-- Мобильное меню -->
  <div class="mobile-menu">
    <div class="container">
      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list">
          <li><a href="#" class="mobile-menu__link">О нас</a></li>
          <li><a href="#" class="mobile-menu__link">Тарифы</a></li>
          <li><a href="#" class="mobile-menu__link">Для бизнеса</a></li>
          <li><a href="#" class="mobile-menu__link">Психологам</a></li>
          <li><a href="#" class="mobile-menu__link">Сертификат</a></li>
          <li><a href="#" class="mobile-menu__link">Материалы</a></li>
          <li><a href="#" class="mobile-menu__link">FAQ</a></li>
        </ul>
      </nav>
      <button class="button button--secondary mobile-menu__button">
        Подобрать психолога
      </button>
    </div>
  </div>
</header>
